@model IEnumerable<online_voting_system0910.Models.ViewModel.VotingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>投票票數清單頁</h1>

<p>
    <a asp-action="Create">投票去</a>
</p>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.VotingItemId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.VotingItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotingCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          @*  <td>
                @Html.DisplayFor(modelItem => item.VotingItemId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.VotingItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotingCount)
            </td>
           
        </tr>
}
    </tbody>
</table>
